In [1]:
import pandas as pd
import numpy as np

In [2]:
automobile = pd.read_csv("./automobile.csv")
automobile.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,3,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,4,2,?,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [4]:
print(automobile.dtypes)

Unnamed: 0             int64
symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [5]:
automobile.describe()

,Unnamed: 0,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,101.500000,0.823529,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608
std,59.033889,1.239035,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337
min,0.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,50.750000,0.000000,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000
50%,101.500000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000
75%,152.250000,2.000000,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000
max,203.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [6]:
automobile.describe(include="all")

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204.000000,204.000000,204,204,204,204,204,204,204,204,...,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,204
unique,NaN,NaN,52,22,2,2,3,5,3,2,...,NaN,8,39,37,NaN,60,24,NaN,NaN,186
top,NaN,NaN,?,toyota,gas,std,four,sedan,fwd,front,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,NaN,40,32,184,167,114,96,120,201,...,NaN,93,23,20,NaN,19,37,NaN,NaN,4
mean,101.500000,0.823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,59.033889,1.239035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,0.000000,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,50.750000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,101.500000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,152.250000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,203.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [7]:
automobile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         204 non-null    int64
 1   symboling          204 non-null    int64
 2   normalized-losses  204 non-null    object
 3   make               204 non-null    object
 4   fuel-type          204 non-null    object
 5   aspiration         204 non-null    object
 6   num-of-doors       204 non-null    object
 7   body-style         204 non-null    object
 8   drive-wheels       204 non-null    object
 9   engine-location    204 non-null    object
 10  wheel-base         204 non-null    float64
 11  length             204 non-null    float64
 12  width              204 non-null    float64
 13  height             204 non-null    float64
 14  curb-weight        204 non-null    int64
 15  engine-type        204 non-null    object
 16  num-of-cylinders   204 non-null    object
 17  engine-size        204 non-null    int64
 18  fuel-system        204 non-null    object
 19  bore               204 non-null    object
 20  stroke             204 non-null    object
 21  compression-ratio  204 non-null    float64
 22  horsepower         204 non-null    object
 23  peak-rpm           204 non-null    object
 24  city-mpg           204 non-null    int64
 25  highway-mpg        204 non-null    int64
 26  price              204 non-null    object
dtypes: float64(5), int64(6), object(16)
memory usage: 43.2+ KB